# Python
__pycache__/
*.pyc
*.py[cod]
.env
.venv/

# Jupyter
.ipynb_checkpoints/

# Gurobi
*.lp
*.mps
gurobi.log

# VS Code
.vscode/

# Project specific
data/saved_solutions/
data/raw/matrix_duration_matrix_*.csv

# OS specific
.DS_Store